<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top-none">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Sobre a aplicação</ion-card-title>
      <ion-card-subtitle>
        App criado para gerar uma piada toda vez que clicar no botão "Gerar Piada" da página "Piadas".
        Clique no segundo botão abaixo para visualizar a página e gerar uma piada.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button expand="block" (click)="irParaHome()">Voltar para Apresentação</ion-button>
  <ion-button expand="block" (click)="irParaPiadas()">Piadas</ion-button>
</ion-content>