<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top-none">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Avaliação Formadora II</ion-card-title>
      <ion-card-subtitle>Aluno: Nicollas de Lima Florencio</ion-card-subtitle>
      <ion-card-subtitle>Matrícula: 24100406</ion-card-subtitle>
      <ion-card-subtitle>Curso: Análise e Desenvolvimento de Sistemas</ion-card-subtitle>
      <ion-card-subtitle>Turma: ADS0301M</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button expand="block" (click)="irParaSobre()">Sobre</ion-button>
<ion-button expand="block" (click)="irParaPiadas()">Piadas</ion-button>

</ion-content>