<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nicollas de Lima Florencio</ion-card-title>
      <ion-card-subtitle>ADS0301M</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/img/Nicollas.jpeg" alt="">
    </ion-card-content>
  </ion-card>
</ion-content>
